doctype html
html
 head
   title= title
   link(rel='stylesheet', href='/css/styles.css')
 body
   h1 Çevrimiçi Not Defteri
   .nav-menu
      a(href='/notes') Notları Görüntüle
      a(href='/profile') Profil Sayfası
      a(href='/auth/logout') Çıkış Yap